*{
    box-sizing: border-box;
}

@font-face{
    font-family: sam;
    font-style: normal;
    src: url('../fonts/6c6374bad0b0b6d204d8d6dc4a18d820.woff') format("woff");
}

@font-face{
    font-family: sam;
    font-style: normal;
    src: url('../fonts/6c6374bad0b0b6d204d8d6dc4a18d820.woff') format("woff");
}

:root{
    --font: sam;
}

body{
    font-family: var(--font);
    font-size: 17px;
}

#searchQuery{
    font-family: var(--font);
    padding: 10px;
    width: 100%;
    font-size: 20px;
    border-radius: 5px;
    background-color: #17101daf;
    margin: 3px 10px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 600;
}

.remote-saldo{
    text-decoration: underline;
    color: yellowgreen;
    font-size: 18px;
}

.name-games{
    color: #ffffff;
    font-size: 17px;
}

.bottom-games{
    display: flex;
    position: fixed;
    justify-content: space-around;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
}

.home, .image, .perfil, .saldo{
    border-radius: 100%;
    background: #000000;
}

.name-hen{
    margin: 5px;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    position: relative;
    padding: 10px;
}

.files-hanime{
    border-radius: 5px;
}

.depo-btn{
    background: #000;
    color:#fff;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    font-family: var(--font);
    font-weight: 600;
    font-size: 14px;
}

.top-painel{
    position: fixed;
    top: 0;
    height: 66px;
    display: flex;
    justify-content: space-between;
    left: 0;
    right: 0;
    overflow: hidden;
    border-bottom: 1px solid #ffffff1c;
    background: #000;
    box-shadow: 0px 0px 10px #000000;
    z-index: 10;
}

.depo{
    display: flex;
    width: 50%;
    margin: 10px;
    justify-content: space-around;
}

.btn-saldo{
    margin: 10px;
}

.div-games-hentai-hanime{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-nemurimoto{
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    text-align: left;
    width: 13%; 
}

@media (max-width: 768px) {
    .game-nemurimoto {
        width: 40%;
        margin: 1%;
    }
}
.names-gaio{
    color: #a8a8a8;
    font-size: 15px;
    line-height: 1.2;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    margin: 0; 
}

#theplaygamesty{
    color: #fff;
    padding: 5px 60px;
    border-radius: 5px;
    background: #4c048f;
    font-family: var(--font);
    cursor: pointer;
    border: none;
    font-size: 20px;
}

.divstickerhentai{
    position: relative;
    left: 20px;
    top: 10px;
}